<section [ngClass]="{'loading': !listaTarefas.length}">
  <ul *ngIf="listaTarefas.length">
    <li *ngFor="let item of listaTarefas; let i = index">
      <input type="checkbox" [(ngModel)]="item.finalizado">
      <input type="text" [(ngModel)]="item.tarefa">

      <button (click)="excluirItemListaTarefa(i)">
        <img src="assets/icons/icon-trash.svg" alt="">
      </button>
    </li>
  </ul>
</section>

<app-campo-adicionar-itens></app-campo-adicionar-itens>
<app-botao-exclusao-total *ngIf="listaTarefas.length" (click)="excluirTodosItensListaTarefa()"></app-botao-exclusao-total>
